
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050505;
    --accent: #FFFFFF;
    --accent-rgb: 255, 255, 255;
  }

  html, body {
    @apply bg-background text-text selection:bg-accent selection:text-background transition-colors duration-500;
    cursor: none !important;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .noise-overlay {
    @apply fixed inset-0 pointer-events-none opacity-[0.03];
    z-index: 9999;
    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  }

  .material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    text-transform: none;
    -webkit-font-feature-settings: 'liga';
    -font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}
